a { color: #000; }
table, th, td {
    border: 1px solid black;
    padding: 8px;
  }
.row-even-day {
  background-color: #f6d8ac;
}
.row-odd-day {
  background-color: #db9833;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #18191A;
    color: #eee;
    
  }
  .row-even-day {
  background-color: #242526;
  }
  .row-odd-day {
  background-color: #3A3B3C;
  }
  table, th, td {
    border: 1px solid #eee;
    padding: 8px;
  }
  a {
    color: #eee;
  }
}